/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}


.heroCode {
    display: inline-flex;
    max-width: fit-content;
    align-self: center;
}


@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
  .heroCode {
      display: none;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
